@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
	max-width: 100%;
}

html {
    font-family: "Poppins", sans-serif;
}

/* LAYOUT */
.container {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0;
}

.container-sm {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 2rem;
}


.row {
	display: flex;
	flex-wrap: wrap;
}

.row > * {
	padding: 0 20px;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-33 {
	width: calc(100% / 3);
}

.col-66 {
	width: calc(2 * (100% / 3));
}

.col-100 {
	width: 100%;
}

.col-16 {
    width: calc(100% / 6);
}

.section {
    padding: 60px 0;
}

/* DEBUG RULES */
.debug .container {
	border: 2px solid black;
}

.debug .row {
	border: 2px solid red;
	padding: 16px;
}

.debug .row > * {
	border: 2px solid cornflowerblue;
	padding: 16px;
}

/* Utilities */ 

.cta {
    border-radius: 999px;
    line-height: 20px;
    padding: 10px 15px;
}

.cta-browser {
    background-color: #23272A;
}

.cta-download {
    background-color: white;
    color: black;
}

.cta-big {
    line-height: 40px;
}

.footer-download {
    background-color: #7289DA;
    color: white;
}

.txt-center {
    text-align: center;
}

.ph-400 {
    min-height: 400px;
    border: 1px dashed black;
}

.ph-600 {
    min-height: 600px;
    border: 1px dashed black;
}

.ph-500 {
    min-height: 500px;
    border: 1px dashed white;
}

.ph-50 {
    min-height: 50px;
}

.pink-ph {
    background-color: #FFC0CB;
}

.blue-ph {
    background-color: #1E90FF;
}

.salmon-ph {
    background-color: #F08080;
}

.cyan-ph {
    background-color: #20B2AA;
}

.bg-gray {
    background-color: #D3D3D3;
}

.bg-black {
    background-color: #23272A;
}

.green-ph {
    background-color: #228B22;
}

.aqua-ph {
    background-color: #7FFFD4;
}

.br-color {
    border: 1px dashed black;
}

/* Hero */

.hero {
    text-align: center;
    color: white;
    padding: 20px 0;
}

.hero h1 {
    font-size: 45px;
    padding-bottom: 30px;
}

.hero-section {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
    padding: 80px 250px;
}

.hero p {
    padding-bottom: 40px;
    font-size: 18px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Header */

.main-header {
    padding: 12px 80px;
    background-color: #255EE9;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
    color: white;
    font-size: 14px;
    padding: 10px 0;
}

.main-menu {
    display: flex;
    gap: 20px;
    width: 50%;
    border: 0px 1px dashed black;
    justify-content: center;
}

.navbar .cta {
    background-color: white;
    color: black;
}

/* Main section */

.rmv-padd {
    padding-top: 5px;
    padding-bottom: 20px;
}

.section.bg-black.rmv-padd {
    border-bottom: 1px solid white;
}

main h1 {
    font-size: 30px;
    padding: 15px 0;
}

.subtitle {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.subtitle > h2 {
    background-image: url('../img/stars.svg');
    background-size: cover;
    background-position: bottom;
    padding: 0 30px;
}

.info-box h2 {
    color: #7289DA;
}

.flag {
    width: 24px;
}

.lang-sel {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: white;
    padding: 10px 0;   
}

.social > *  {
    padding-right: 15px;
}

.info-box {
    color: white;
}

.info-box ul :first-child {
    color: #7289DA;
    padding-bottom: 15px;
}

.info-box li {
    padding-bottom: 10px;
}

.br-bottom {
    border-bottom: 1px solid #7289DA;
    padding-bottom: 30px;
}

.info-box {
    padding-bottom: 25px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}